html, body {
    margin: 0%;
    padding: 0%;
    height: 100%;
}
.table {
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}
.left {
    width: 50%;
    background-color: rgb(152, 152, 206);
    color: black;
}
.right {
    width: 50%;
    background-color: rgb(223, 179, 186);
    color: black;
}